server:
  port: 8086

spring:
  application:
    name: sales-service

  datasource:
    url: ${SALES_DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

security:
  internal-token: ${INTERNAL_TOKEN}