server:
  port: 8086

spring:
  application:
    name: store-service

  datasource:
    url: ${STORE_DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

security:
  internal-token: ${INTERNAL_TOKEN}

external:
  base-url:
    user-service: 'http://localhost:8081/api/user'

# 로깅 설정
logging:
  level:
    com.example.store.storeservice: INFO
    com.example.store.storeservice.service: DEBUG